* {
    margin: 0;
    padding: 0;
    
    }
    
    body{
        background-color:hwb(300 94% 4%);
    }
    
    /* Nao-pのヘッダーできるまで */
    .header-dayo {
        background-color: rgba(161, 154, 211, 1);
        height:47px;
        font-size: 18px;
        color: white;
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    /* Nao-pのヘッダーできるまで */
    
    .maincontent {
        text-align: left;
        margin: 52px 24px 40px;
        
    }
    
    .hello p {
        font-size: 4vw;
    }

    .register {
    margin-bottom: 50px;
    }
    
    
    .input {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
    
    .input label {
        /* text-align: left; */
        padding-bottom: 8px;
    }
    
    .input input , .input select {
        height: 40px;
        border-radius: 10px;
        padding-left: 16px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(217, 217, 217, 1);
    }

    .btn {
        display: flex;
        justify-content: center;
    }
    
    .btn-1 {
        font-size: 15px;
        color: white;
        border: none;
        width: 60%;
        height: 30px;
        border-radius: 50px;
    }
    
    .btn-1 {
        margin-bottom: 30px;
        background-color: rgba(124, 224, 221, 1);
    }
