/* == 基本のフォント情報 == */

  body {
    color: #333333; /* 文字の基本色は黒ではなく#333333に設定 */
  }

*{
  margin: 0;
  padding: 0;
}

.header_return{
  left: 0;
  width: 30px;
  height: 30px;
  padding-left: 3%;
  display: block;

}

.title{
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding-left: 15%;
}



/* footer */

.footer-icons{
  background-color: #A19AD3;
  width: 100%;
  height: 38px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

.icons {
  width: 50%;
  height: auto;
  margin: 0 25%
}

/* 投稿の編集ページのキャンセル */
  .my-edit-link {
    color: #333; /* シンプルな濃いグレー */
    text-decoration: none; /* 下線を消す */
    font-size: 12px; /* 小さめの文字サイズ */
    margin-left: 10px; /* 少し余白を追加 */
    cursor: pointer; /* マウスホバー時にクリックできることを示す */
  }

  .my-edit-link:hover {
    color: #555; /* ホバー時に少し色を変える */
  }
